In [2]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Markdown, display, HTML
from collections import defaultdict
from sklearn.model_selection import KFold
from sklearn.feature_extraction.text import TfidfVectorizer
import time

pd.set_option('display.max_columns', 50)

from evaluation_and_testing.testing import evaluate_train_test_split_explicit
from evaluation_and_testing.testing import evaluate_leave_one_out_explicit
from evaluation_and_testing.testing import evaluate_train_test_split_implicit
from evaluation_and_testing.testing import evaluate_leave_one_out_implicit

from recommenders.recommender import Recommender

# Fix the dying kernel problem (only a problem in some installations - you can remove it, if it works without it)
import os
os.environ['KMP_DUPLICATE_LIB_OK'] = 'True'

# Load the data

In [3]:
ml_ratings_df = pd.read_csv(os.path.join("data", "movielens_small", "ratings.csv")).rename(columns={'userId': 'user_id', 'movieId': 'item_id'})
ml_movies_df = pd.read_csv(os.path.join("data", "movielens_small", "movies.csv")).rename(columns={'movieId': 'item_id'})
ml_df = pd.merge(ml_ratings_df, ml_movies_df, on='item_id')

display(ml_movies_df.head(10))

# Filter the data to reduce the number of movies
seed = 6789
rng = np.random.RandomState(seed=seed)
left_ids = rng.choice(ml_movies_df['item_id'], size=1000, replace=False)

ml_ratings_df = ml_ratings_df.loc[ml_ratings_df['item_id'].isin(left_ids)]
ml_movies_df = ml_movies_df.loc[ml_movies_df['item_id'].isin(left_ids)]
ml_df = ml_df.loc[ml_df['item_id'].isin(left_ids)]

print("Number of chosen interactions: {}".format(len(ml_ratings_df)))

display(ml_df.head(10))

,item_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

Number of chosen interactions: 9692

,user_id,item_id,rating,timestamp,title,genres
572,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
573,5,50,4.0,847434881,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
574,6,50,1.0,845553381,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
575,7,50,4.5,1106635993,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
576,8,50,5.0,839463644,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
577,16,50,4.0,1377476781,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
578,17,50,4.5,1305697013,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
579,18,50,5.0,1455049343,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
580,23,50,4.0,1107163741,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
581,24,50,4.0,1458942023,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

# Baseline recommenders

**Task 1.** Implement the MostPopularRecommender (check the slides for class 1), evaluate it with leave-one-out procedure for implicit feedback, print HR@1, HR@3, HR@5, HR@10, NDCG@1, NDCG@3, NDCG@5, NDCG@10.

In [4]:
class MostPopularRecommender(Recommender):
    """
    Base recommender class.
    """
    
    def __init__(self):
        """
        Initialize base recommender params and variables.
        """
        self.most_popular_movies = None
    
    def fit(self, interactions_df, users_df, items_df):
        """
        Training of the recommender.
        
        :param pd.DataFrame interactions_df: DataFrame with recorded interactions between users and items 
            defined by user_id, item_id and features of the interaction.
        :param pd.DataFrame users_df: DataFrame with users and their features defined by user_id and the user feature columns.
        :param pd.DataFrame items_df: DataFrame with items and their features defined by item_id and the item feature columns.
        """
#         display(interactions_df)
        movies_id_df = interactions_df.loc[:, ["item_id", "user_id"]]       
        movies_watched_count = movies_id_df.groupby('item_id').count()
        movies_watched_count = movies_watched_count.sort_values(by='user_id', ascending=False)
        self.most_popular_movies = movies_watched_count.index[:10]
        
    def recommend(self, users_df, items_df, n_recommendations=1):
        """
        Serving of recommendations. Scores items in items_df for each user in users_df and returns 
        top n_recommendations for each user.
        
        :param pd.DataFrame users_df: DataFrame with users and their features for which recommendations should be generated.
        :param pd.DataFrame items_df: DataFrame with items and their features which should be scored.
        :param int n_recommendations: Number of recommendations to be returned for each user.
        :return: DataFrame with user_id, item_id and score as columns returning n_recommendations top recommendations 
            for each user.
        :rtype: pd.DataFrame
        """
        
        #score = 1 / pozycja
        recommendations = pd.DataFrame(columns=['user_id', 'item_id', 'score'])
        
        for ix, user in users_df.iterrows():
            user_recommendations = pd.DataFrame({
                'user_id': user['user_id'],
                'item_id': self.most_popular_movies[:n_recommendations],
                'score': [1 / (i + 1) for i in range(n_recommendations)] 
            })

            recommendations = pd.concat([recommendations, user_recommendations])
        
        return recommendations       
    
# Quick test of the recommender

most_popular_recommender = MostPopularRecommender()
most_popular_recommender.fit(ml_ratings_df, None, ml_movies_df)
recommendations = most_popular_recommender.recommend(pd.DataFrame([[1], [2], [6]], columns=['user_id']), ml_movies_df, 10)

recommendations = pd.merge(recommendations, ml_movies_df, on='item_id', how='left')
print("Recommendations")
display(HTML(recommendations.to_html()))

most_popular_recommender = MostPopularRecommender()

most_popular_results = [['MostPopularRecommender'] + list(evaluate_leave_one_out_implicit(
    most_popular_recommender, ml_ratings_df.loc[:, ['user_id', 'item_id']], ml_movies_df, max_evals=300, seed=6789))]

most_popular_results = pd.DataFrame(
    most_popular_results, 
    columns=['Recommender', 'HR@1', 'HR@3', 'HR@5', 'HR@10', 'NDCG@1', 'NDCG@3', 'NDCG@5', 'NDCG@10'])

display(HTML(most_popular_results.to_html()))

Recommendations

**Task 2.** Implement the HighestRatedRecommender (check the slides for class 1), but recommend only those movies which got at least 50 ratings. Evaluate it with leave-one-out procedure for implicit feedback, print HR@1, HR@3, HR@5, HR@10, NDCG@1, NDCG@3, NDCG@5, NDCG@10.

In [5]:
class HighestRatedRecommender(Recommender):
    """
    Base recommender class.
    """
    
    def __init__(self):
        """
        Initialize base recommender params and variables.
        """
        self.movies_mean_rating = None
        self.movie = None
        self.rating = None
    
    def fit(self, interactions_df, users_df, items_df):
        """
        Training of the recommender.
        
        :param pd.DataFrame interactions_df: DataFrame with recorded interactions between users and items 
            defined by user_id, item_id and features of the interaction.
        :param pd.DataFrame users_df: DataFrame with users and their features defined by user_id and the user feature columns.
        :param pd.DataFrame items_df: DataFrame with items and their features defined by item_id and the item feature columns.
        """        
        movies_ratings = interactions_df.loc[:, ['item_id', 'rating']]        
        movies_count_rating = movies_ratings.groupby('item_id').count()
        self.movies_mean_rating = movies_ratings.groupby('item_id').mean()
        self.movies_mean_rating = self.movies_mean_rating.loc[movies_count_rating['rating'] >= 50]
        self.movies_mean_rating = self.movies_mean_rating.sort_values('rating', ascending=False)

    
    def recommend(self, users_df, items_df, n_recommendations=1):
        """
        Serving of recommendations. Scores items in items_df for each user in users_df and returns 
        top n_recommendations for each user.
        
        :param pd.DataFrame users_df: DataFrame with users and their features for which recommendations should be generated.
        :param pd.DataFrame items_df: DataFrame with items and their features which should be scored.
        :param int n_recommendations: Number of recommendations to be returned for each user.
        :return: DataFrame with user_id, item_id and score as columns returning n_recommendations top recommendations 
            for each user.
        :rtype: pd.DataFrame
        """
#         score = rating / 5
        recommendations = pd.DataFrame(columns=['user_id', 'item_id', 'score'])
        
        for ix, user in users_df.iterrows():
            user_recommendations = pd.DataFrame({
                'user_id': user['user_id'],
                'item_id': self.movies_mean_rating.index[:n_recommendations],
                'score': self.movies_mean_rating['rating'][:n_recommendations] / 5
            })

            recommendations = pd.concat([recommendations, user_recommendations])

        return recommendations
    
# Quick test of the recommender

highest_rated_recommender = HighestRatedRecommender()
highest_rated_recommender.fit(ml_ratings_df, None, ml_movies_df)
recommendations = highest_rated_recommender.recommend(pd.DataFrame([[1], [2], [6]], columns=['user_id']), ml_movies_df, 10)

recommendations = pd.merge(recommendations, ml_movies_df, on='item_id', how='left')
print("Recommendations")
display(HTML(recommendations.to_html()))

highest_rated_recommender = HighestRatedRecommender()

highest_rated_results = [['HighestRatedRecommender'] + list(evaluate_leave_one_out_implicit(
    highest_rated_recommender, ml_ratings_df.loc[:, ['user_id', 'item_id', 'rating']], ml_movies_df, max_evals=300, seed=6789))]

highest_rated_results = pd.DataFrame(
    highest_rated_results, 
    columns=['Recommender', 'HR@1', 'HR@3', 'HR@5', 'HR@10', 'NDCG@1', 'NDCG@3', 'NDCG@5', 'NDCG@10'])

display(HTML(highest_rated_results.to_html()))

Recommendations

**Task 3.** Implement the RandomRecommender (check the slides for class 1), evaluate it with leave-one-out procedure for implicit feedback, print HR@1, HR@3, HR@5, HR@10, NDCG@1, NDCG@3, NDCG@5, NDCG@10.

In [6]:
class RandomRecommender(Recommender):
    """
    Base recommender class.
    """
    
    def __init__(self, seed=0):
        """
        Initialize base recommender params and variables.
        
        :param int seed: Seed for the random number generator.
        """
        self.seed = seed
        self.rng = np.random.RandomState(seed=seed)
        # Write your code here
    
    def fit(self, interactions_df, users_df, items_df):
        """
        Training of the recommender.
        
        :param pd.DataFrame interactions_df: DataFrame with recorded interactions between users and items 
            defined by user_id, item_id and features of the interaction.
        :param pd.DataFrame users_df: DataFrame with users and their features defined by user_id and the user feature columns.
        :param pd.DataFrame items_df: DataFrame with items and their features defined by item_id and the item feature columns.
        """
        # Write your code here
    
    def recommend(self, users_df, items_df, n_recommendations=1):
        """
        Serving of recommendations. Scores items in items_df for each user in users_df and returns 
        top n_recommendations for each user.
        
        :param pd.DataFrame users_df: DataFrame with users and their features for which recommendations should be generated.
        :param pd.DataFrame items_df: DataFrame with items and their features which should be scored.
        :param int n_recommendations: Number of recommendations to be returned for each user.
        :return: DataFrame with user_id, item_id and score as columns returning n_recommendations top recommendations 
            for each user.
        :rtype: pd.DataFrame
        """
        
        movies = items_df['item_id'].unique().tolist()
        
        recommendations = pd.DataFrame(columns=['user_id', 'item_id', 'score'])
        
        for ix, user in users_df.iterrows():
            user_recommendations = pd.DataFrame({
                'user_id': user['user_id'],
                'item_id': self.rng.choice(movies, n_recommendations, replace=False),
                'score': 1.0
            })
            
            recommendations = pd.concat([recommendations, user_recommendations])
            
        recommendations = recommendations.reset_index(drop=True)

        return recommendations
    
# Quick test of the recommender

random_recommender = RandomRecommender(seed=6789)
random_recommender.fit(ml_ratings_df, None, ml_movies_df)
recommendations = random_recommender.recommend(pd.DataFrame([[1], [2], [6]], columns=['user_id']), ml_movies_df, 10)

recommendations = recommendations.merge(ml_movies_df, on='item_id', how='left')
print("Recommendations")
display(HTML(recommendations.to_html()))

random_recommender = RandomRecommender(seed=seed)

random_results = [['RandomRecommender'] + list(evaluate_leave_one_out_implicit(
    random_recommender, ml_ratings_df.loc[:, ['user_id', 'item_id', 'rating']], ml_movies_df, max_evals=300, seed=seed))]

random_results = pd.DataFrame(
    random_results, 
    columns=['Recommender', 'HR@1', 'HR@3', 'HR@5', 'HR@10', 'NDCG@1', 'NDCG@3', 'NDCG@5', 'NDCG@10'])

display(HTML(random_results.to_html()))

Recommendations

# Linear Regression Recommender

For every movie we transform its genres into one-hot encoded features and we normalize them, for every user we count percentages for all genres how often do they appear among films watched by the user, we multiply both vectors (for the item and the user) to obtain explanatory variables, and then we fit a linear regression model to those features and actual ratings.

**Task 4.** Implement the calculate_user_genres method for calculating a DataFrame with one row per user and columns corresponding to genres (e.g. 'user_action', 'user_drama') with values calculated as follows:

- count the number of times a given user watched a given genre,
- apply a natural logarithm to this value plus one,
- normalize those values so that the sum of them over all columns within a row is equal to 1.

Implement the calculate_item_genres method for replacing the 'genres' column with one column per genre (e.g. 'action', 'drama') with values calculated as follows:

- place 1 in every column for which the genre appears in genres,
- normalize those values so that the sum of them over all genre columns within a row is equal to 1.

If item_features is None, then first find all genres and prepare a list of them. If item_features is not None, then create columns based on this list. Return both the transformed DataFrame and the list of genres.  Do not use MultiLabelBinarizer.

Note that in this second method you have to preserve the remaining structure of the DataFrame.

Evaluate the LinearRegressionRecommender with it using leave-one-out procedure for implicit feedback, print HR@1, HR@3, HR@5, HR@10, NDCG@1, NDCG@3, NDCG@5, NDCG@10.

In [36]:
# Prepare data for tests
interactions_df = pd.merge(ml_ratings_df, ml_movies_df, on='item_id')
interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.replace("-", "_", regex=False)
interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.replace(" ", "_", regex=False)
interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.replace("(", "", regex=False)
interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.replace(")", "", regex=False)
interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.lower()
interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.split("|")
display(interactions_df)

,user_id,item_id,rating,timestamp,title,genres
0,1,50,5.0,964982931,"Usual Suspects, The (1995)","[crime, mystery, thriller]"
1,5,50,4.0,847434881,"Usual Suspects, The (1995)","[crime, mystery, thriller]"
2,6,50,1.0,845553381,"Usual Suspects, The (1995)","[crime, mystery, thriller]"
3,7,50,4.5,1106635993,"Usual Suspects, The (1995)","[crime, mystery, thriller]"
4,8,50,5.0,839463644,"Usual Suspects, The (1995)","[crime, mystery, thriller]"
...,...,...,...,...,...,...
9687,610,110746,4.0,1493850133,Hatchet III (2013),"[comedy, horror]"
9688,610,113159,3.5,1493848692,Life After Beth (2014),"[comedy, horror, romance]"
9689,610,114707,3.0,1493848404,Horns (2014),"[horror, mystery]"
9690,610,130840,4.5,1493848621,Spring (2015),"[horror, romance, sci_fi]"
9691,610,149011,3.5,1493848843,He Never Died (2015),"[comedy, drama, horror]"

In [210]:
def calculate_user_genres(interactions_df):
    users_df = interactions_df.copy()
    users_df = users_df.explode('genres')
    users_df['val'] = 1
    users_df = users_df.pivot_table(index='user_id', columns='genres', values='val', aggfunc='count').fillna(0)
    #users_df = users_df.apply(lambda x: np.log(x+1))
    users_df = users_df.div(users_df.sum(axis=1), axis=0)
    users_df = users_df.rename_axis(None, axis=1)
    users_df = users_df.add_prefix('user_')
#     users_df = interactions_df[['user_id', 'genres']].copy()
#     users_df = users_df.explode('genres')
#     users_df['val'] = 1
#     users_df = users_df.pivot_table(index='user_id', columns='genres', values='val', aggfunc='count')
#     users_df = users_df / users_df.sum(axis=1).values.reshape(-1, 1)
#     users_df = users_df.rename_axis(None, axis=1).fillna(0)
#     users_df = users_df.add_prefix('user_')
    return users_df
# calculate_user_genres(interactions_df)

In [211]:
# Test the calculate_user_genres method
display(calculate_user_genres(interactions_df))

,user_action,user_adventure,user_animation,user_children,user_comedy,user_crime,user_documentary,user_drama,user_fantasy,user_film_noir,user_horror,user_imax,user_musical,user_mystery,user_no_genres_listed,user_romance,user_sci_fi,user_thriller,user_war,user_western
user_id,,,,,,,,,,,,,,,,,,,,
1,0.149254,0.119403,0.044776,0.074627,0.119403,0.089552,0.000000,0.059701,0.044776,0.000000,0.000000,0.000000,0.014925,0.014925,0.0,0.074627,0.059701,0.089552,0.029851,0.014925
2,0.125000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.375000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.062500,0.062500,0.187500,0.000000,0.062500
3,0.285714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.000000,0.142857,0.000000,0.000000,0.000000,0.0,0.000000,0.285714,0.142857,0.000000,0.000000
4,0.017857,0.017857,0.035714,0.053571,0.196429,0.089286,0.000000,0.267857,0.035714,0.017857,0.000000,0.017857,0.053571,0.000000,0.0,0.125000,0.000000,0.035714,0.017857,0.017857
5,0.000000,0.000000,0.058824,0.058824,0.058824,0.058824,0.000000,0.176471,0.058824,0.000000,0.000000,0.058824,0.058824,0.058824,0.0,0.176471,0.000000,0.058824,0.058824,0.058824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.048889,0.040000,0.008889,0.022222,0.164444,0.066667,0.004444,0.297778,0.044444,0.004444,0.013333,0.008889,0.004444,0.022222,0.0,0.124444,0.031111,0.066667,0.022222,0.004444
607,0.148936,0.063830,0.000000,0.021277,0.127660,0.085106,0.000000,0.212766,0.021277,0.000000,0.063830,0.000000,0.021277,0.021277,0.0,0.042553,0.085106,0.063830,0.021277,0.000000
608,0.120172,0.055794,0.021459,0.064378,0.184549,0.077253,0.000000,0.107296,0.055794,0.000000,0.051502,0.008584,0.008584,0.017167,0.0,0.042918,0.077253,0.098712,0.008584,0.000000
609,0.200000,0.400000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.200000,0.000000,0.000000,0.000000
610,0.151899,0.063291,0.015823,0.015823,0.107595,0.069620,0.000000,0.110759,0.034810,0.003165,0.110759,0.031646,0.003165,0.034810,0.0,0.022152,0.085443,0.123418,0.009494,0.006329

In [163]:
from sklearn.preprocessing import MultiLabelBinarizer

def calculate_item_genres(item_genres, item_features=None):
    item_genres = item_genres.copy()
    item_genres = item_genres.explode('genres')
    item_genres['value'] = 1
    if item_features is None:
        item_features = item_genres['genres'].values
        item_features = np.unique(item_features).tolist()
    item_genres_pivot = item_genres.pivot_table(index='item_id',columns='genres',values='value').fillna(0)
    item_genres_pivot = item_genres_pivot.reindex(item_features,axis=1).fillna(0)
    item_genres_pivot = item_genres_pivot.div(item_genres_pivot.sum(axis=1), axis=0)
    item_genres = item_genres.merge(item_genres_pivot, on='item_id')
    item_genres = item_genres.drop(columns=['value'])
    return item_genres, item_features

In [164]:
# Test the method

item_genres, item_features = calculate_item_genres(interactions_df)
display(item_genres)
print(item_features)

item_genres, item_features = calculate_item_genres(interactions_df, ['comedy', 'crime', 'drama', 'horror', 'test_category'])
display(item_genres)
print(item_features)

,user_id,item_id,rating,timestamp,title,genres,action,adventure,animation,children,comedy,crime,documentary,drama,fantasy,film_noir,horror,imax,musical,mystery,no_genres_listed,romance,sci_fi,thriller,war,western
0,1,50,5.0,964982931,"Usual Suspects, The (1995)",crime,0.0,0.0,0.0,0.0,0.000000,0.333333,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.333333,0.0,0.000000,0.000000,0.333333,0.0,0.0
1,1,50,5.0,964982931,"Usual Suspects, The (1995)",mystery,0.0,0.0,0.0,0.0,0.000000,0.333333,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.333333,0.0,0.000000,0.000000,0.333333,0.0,0.0
2,1,50,5.0,964982931,"Usual Suspects, The (1995)",thriller,0.0,0.0,0.0,0.0,0.000000,0.333333,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.333333,0.0,0.000000,0.000000,0.333333,0.0,0.0
3,5,50,4.0,847434881,"Usual Suspects, The (1995)",crime,0.0,0.0,0.0,0.0,0.000000,0.333333,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.333333,0.0,0.000000,0.000000,0.333333,0.0,0.0
4,5,50,4.0,847434881,"Usual Suspects, The (1995)",mystery,0.0,0.0,0.0,0.0,0.000000,0.333333,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.333333,0.0,0.000000,0.000000,0.333333,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25601,610,130840,4.5,1493848621,Spring (2015),romance,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.333333,0.0,0.0,0.000000,0.0,0.333333,0.333333,0.000000,0.0,0.0
25602,610,130840,4.5,1493848621,Spring (2015),sci_fi,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.333333,0.0,0.0,0.000000,0.0,0.333333,0.333333,0.000000,0.0,0.0
25603,610,149011,3.5,1493848843,He Never Died (2015),comedy,0.0,0.0,0.0,0.0,0.333333,0.000000,0.0,0.333333,0.0,0.0,0.333333,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0
25604,610,149011,3.5,1493848843,He Never Died (2015),drama,0.0,0.0,0.0,0.0,0.333333,0.000000,0.0,0.333333,0.0,0.0,0.333333,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0
25605,610,149011,3.5,1493848843,He Never Died (2015),horror,0.0,0.0,0.0,0.0,0.333333,0.000000,0.0,0.333333,0.0,0.0,0.333333,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0

['action', 'adventure', 'animation', 'children', 'comedy', 'crime', 'documentary', 'drama', 'fantasy', 'film_noir', 'horror', 'imax', 'musical', 'mystery', 'no_genres_listed', 'romance', 'sci_fi', 'thriller', 'war', 'western']

,user_id,item_id,rating,timestamp,title,genres,comedy,crime,drama,horror,test_category
0,1,50,5.0,964982931,"Usual Suspects, The (1995)",crime,0.000000,1.0,0.000000,0.000000,0.0
1,1,50,5.0,964982931,"Usual Suspects, The (1995)",mystery,0.000000,1.0,0.000000,0.000000,0.0
2,1,50,5.0,964982931,"Usual Suspects, The (1995)",thriller,0.000000,1.0,0.000000,0.000000,0.0
3,5,50,4.0,847434881,"Usual Suspects, The (1995)",crime,0.000000,1.0,0.000000,0.000000,0.0
4,5,50,4.0,847434881,"Usual Suspects, The (1995)",mystery,0.000000,1.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
25601,610,130840,4.5,1493848621,Spring (2015),romance,0.000000,0.0,0.000000,1.000000,0.0
25602,610,130840,4.5,1493848621,Spring (2015),sci_fi,0.000000,0.0,0.000000,1.000000,0.0
25603,610,149011,3.5,1493848843,He Never Died (2015),comedy,0.333333,0.0,0.333333,0.333333,0.0
25604,610,149011,3.5,1493848843,He Never Died (2015),drama,0.333333,0.0,0.333333,0.333333,0.0
25605,610,149011,3.5,1493848843,He Never Died (2015),horror,0.333333,0.0,0.333333,0.333333,0.0

['comedy', 'crime', 'drama', 'horror', 'test_category']

In [212]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MultiLabelBinarizer

from recommenders.recommender import Recommender

class LinearRegressionRecommender(Recommender):
    """
    Linear regression recommender class.
    """
    
    def __init__(self):
        """
        Initialize recommender params and variables.
        """
        self.model = None
        self.mlb = None
        self.users_dict = None
        self.user_features = None
        
        self.uses_dot_product = True
    
    def fit(self, interactions_df, users_df, items_df):
        """
        Training of the recommender.
        
        :param pd.DataFrame interactions_df: DataFrame with recorded interactions between users and items 
            defined by user_id, item_id and features of the interaction.
        :param pd.DataFrame users_df: DataFrame with users and their features defined by user_id and the user feature columns.
        :param pd.DataFrame items_df: DataFrame with items and their features defined by item_id and the item feature columns.
        """
        
        # Transform genres to a more code-friendly form
        
        interactions_df = pd.merge(interactions_df, items_df, on='item_id')
        interactions_df = self._transform_genres(interactions_df)
        
        # Prepare user features
        
        users_df = interactions_df[['user_id', 'genres']].copy()
        users_df = users_df.explode('genres')
        users_df['val'] = 1
        users_df = users_df.pivot_table(index='user_id', columns='genres', values='val', aggfunc='count')
        users_df = users_df / users_df.sum(axis=1).values.reshape(-1, 1)
        users_df = users_df.rename_axis(None, axis=1).fillna(0)
        users_df = users_df.add_prefix('user_')
#         display(users_df.head(10))
        
        self.users_dict = users_df.to_dict('index')
        
        self.user_features = users_df.columns.tolist()
        
        interactions_df = interactions_df.merge(users_df, on='user_id')
#         display(interactions_df.head(10))
                
        # Prepare item features
        
        # Transform genres into binary values
        
        self.mlb = MultiLabelBinarizer()
        interactions_df = interactions_df.join(
            pd.DataFrame(self.mlb.fit_transform(interactions_df.pop('genres')),
                         columns=self.mlb.classes_,
                         index=interactions_df.index))
        
        # Normalize the values so that each movie's genres sum up to 1
        
        interactions_df[self.mlb.classes_] = interactions_df[self.mlb.classes_] \
            / interactions_df[self.mlb.classes_].sum(axis=1).values.reshape(-1, 1)
        
#         display(interactions_df.loc[:, self.mlb.classes_].head(10))

        # Prepare input data and fit the model
    
        # Dot product for personalization
        if self.uses_dot_product:
            interactions_df[self.mlb.classes_] = interactions_df[self.mlb.classes_] \
                * interactions_df[self.user_features].values
    
#         display(interactions_df.head(10))
        
        if self.uses_dot_product:  # Personalized
            x = interactions_df.loc[:, self.mlb.classes_].values
        else:  # Non-personalized
            x = interactions_df.loc[:, list(self.mlb.classes_) + self.user_features].values
        display(x)
        y = interactions_df['rating'].values
    
        self.model = LinearRegression().fit(x, y)
    
    def recommend(self, users_df, items_df, n_recommendations=1):
        """
        Serving of recommendations. Scores items in items_df for each user in users_df and returns 
        top n_recommendations for each user.
        
        :param pd.DataFrame users_df: DataFrame with users and their features for which recommendations should be generated.
        :param pd.DataFrame items_df: DataFrame with items and their features which should be scored.
        :param int n_recommendations: Number of recommendations to be returned for each user.
        :return: DataFrame with user_id, item_id and score as columns returning n_recommendations top recommendations 
            for each user.
        :rtype: pd.DataFrame
        """
        
        # Transform the item to be scored into proper features
        
        items_df = items_df.copy()
        items_df = self._transform_genres(items_df)
        
        items_df = items_df.join(
            pd.DataFrame(self.mlb.transform(items_df.pop('genres')),
                         columns=self.mlb.classes_,
                         index=items_df.index))
        
        items_df[self.mlb.classes_] = items_df[self.mlb.classes_] \
            / items_df[self.mlb.classes_].sum(axis=1).values.reshape(-1, 1)

        # Score the item
    
        recommendations = pd.DataFrame(columns=['user_id', 'item_id', 'score'])
        
        for ix, user in users_df.iterrows():
            if user['user_id'] in self.users_dict:
                user_df = pd.DataFrame.from_dict({user['user_id']: self.users_dict[user['user_id']]}, orient='index')
            else:
                user_df = pd.DataFrame.from_dict(
                    {user['user_id']: [1 / len(self.user_features)]*len(self.user_features)}, orient='index')
                user_df.columns = self.user_features
#             display(user_df)
#             display(items_df)
            input_df = items_df.copy()
            
            if self.uses_dot_product:
                input_df[self.mlb.classes_] = items_df[self.mlb.classes_] * user_df.values
#                 display(input_df)
                scores = self.model.predict(input_df.loc[:, self.mlb.classes_].values)
            else:
                input_df = input_df.merge(user_df, how='cross')
#                 display(input_df)
                scores = self.model.predict(input_df.loc[:, list(self.mlb.classes_) + self.user_features].values)
    
            chosen_pos = np.argsort(-scores)[:n_recommendations]
        
            user_recommendations = []
            for item_pos in chosen_pos:
                user_recommendations.append(
                    {
                        'user_id': user['user_id'],
                        'item_id': input_df.iloc[item_pos]['item_id'],
                        'score': scores[item_pos]
                    }
                )
                
            user_recommendations = pd.DataFrame(user_recommendations)

            recommendations = pd.concat([recommendations, user_recommendations])

        return recommendations
    
    def _transform_genres(self, df):
        """
        Transforms a string with genres into a list of cleaned genre names.
        
        :param pd.DataFrame df: A DataFrame with 'genres' column.
        """
        df.loc[:, 'genres'] = df['genres'].str.replace("-", "_", regex=False)
        df.loc[:, 'genres'] = df['genres'].str.replace(" ", "_", regex=False)
        df.loc[:, 'genres'] = df['genres'].str.replace("(", "", regex=False)
        df.loc[:, 'genres'] = df['genres'].str.replace(")", "", regex=False)
        df.loc[:, 'genres'] = df['genres'].str.lower()
        df.loc[:, 'genres'] = df['genres'].str.split("|")
        return df

In [213]:
# Quick test of the recommender

lr_recommender = LinearRegressionRecommender()
lr_recommender.fit(ml_ratings_df, None, ml_movies_df)
recommendations = lr_recommender.recommend(pd.DataFrame([[3], [5], [39]], columns=['user_id']), ml_movies_df, 10)

recommendations = pd.merge(recommendations, ml_movies_df, on='item_id', how='left')
display(recommendations)

array([[0.        , 0.        , 0.        , ..., 0.02985075, 0.        ,
        0.        ],
       [0.07462687, 0.        , 0.        , ..., 0.04477612, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.02985075, 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.125     , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

,user_id,item_id,score,title,genres
0,3,51562,3.501376,Babylon 5: The Gathering (1993),Sci-Fi
1,3,5468,3.501376,20 Million Miles to Earth (1957),Sci-Fi
2,3,176371,3.501376,Blade Runner 2049 (2017),Sci-Fi
3,3,147384,3.501376,Doctor Who: The Runaway Bride (2007),Sci-Fi
4,3,2698,3.501376,Zone 39 (1997),Sci-Fi
5,3,2661,3.501376,It Came from Outer Space (1953),Sci-Fi
6,3,2311,3.501376,2010: The Year We Make Contact (1984),Sci-Fi
7,3,3926,3.425357,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi
8,3,4953,3.425357,"People That Time Forgot, The (1977)",Adventure|Sci-Fi
9,3,3994,3.425357,Unbreakable (2000),Drama|Sci-Fi
10,5,66335,4.402264,Afro Samurai: Resurrection (2009),Animation
11,5,160848,4.402264,The Red Turtle (2016),Animation
12,5,151763,4.214813,Death Note Rewrite: Genshisuru Kami (2007),Mystery
13,5,32657,4.075275,"Man Who Planted Trees, The (Homme qui plantait...",Animation|Drama
14,5,90746,4.033668,"Adventures of Tintin, The (2011)",Action|Animation|Mystery|IMAX
15,5,146028,4.007686,The Adventures of Sherlock Holmes and Dr. Wats...,Crime|Mystery
16,5,147286,4.007686,The Adventures of Sherlock Holmes and Doctor W...,Crime|Mystery
17,5,3801,3.981549,Anatomy of a Murder (1959),Drama|Mystery
18,5,64575,3.981549,Doubt (2008),Drama|Mystery
19,5,1964,3.981549,Klute (1971),Drama|Mystery
20,39,66335,5.267168,Afro Samurai: Resurrection (2009),Animation
21,39,160848,5.267168,The Red Turtle (2016),Animation
22,39,32657,4.429362,"Man Who Planted Trees, The (Homme qui plantait...",Animation|Drama
23,39,146028,4.296961,The Adventures of Sherlock Holmes and Dr. Wats...,Crime|Mystery
24,39,147286,4.296961,The Adventures of Sherlock Holmes and Doctor W...,Crime|Mystery
25,39,95004,4.288561,Superman/Doomsday (2007),Action|Animation
26,39,158872,4.261897,Sausage Party (2016),Animation|Comedy
27,39,175431,4.261897,Bobik Visiting Barbos (1977),Animation|Comedy
28,39,48982,4.261897,Flushed Away (2006),Animation|Comedy
29,39,163925,4.261897,"Wings, Legs and Tails (1986)",Animation|Comedy

### Train-test split test

In [98]:
lr_recommender = LinearRegressionRecommender()

t0 = time.time()

results = [['LinearRegressionRecommender'] + list(evaluate_train_test_split_explicit(
    lr_recommender, ml_ratings_df.loc[:, ['user_id', 'item_id', 'rating']], ml_movies_df, seed=seed))]

results = pd.DataFrame(results, 
                       columns=['Recommender', 'RMSE', 'MRE', 'TRE'])

display(results)

print('Total evaluation time: {}'.format(time.time() - t0))

                   Recommender      RMSE       MRE       TRE
0  LinearRegressionRecommender  1.016594  0.348461  0.230529

Total evaluation time: 34.282792806625366

### Leave-one-out test

In [117]:
lr_recommender = LinearRegressionRecommender()

t0 = time.time()

results = [['LinearRegressionRecommender'] + list(evaluate_leave_one_out_explicit(
    lr_recommender, ml_ratings_df.loc[:, ['user_id', 'item_id', 'rating']], ml_movies_df, seed=seed))]

results = pd.DataFrame(results, 
                       columns=['Recommender', 'RMSE', 'MRE', 'TRE'])

display(results)

print('Total evaluation time: {}'.format(time.time() - t0))

                   Recommender      RMSE       MRE       TRE
0  LinearRegressionRecommender  1.045415  0.401399  0.242301

Total evaluation time: 55.69004774093628

# TF-IDF Recommender
TF-IDF stands for term frequency‚Äìinverse document frequency. Typically Tf-IDF method is used to assign keywords (words describing the gist of a document) to documents in a corpus of documents.

In our case we will treat users as documents and genres as words.

Term-frequency is given by the following formula:
<center>
$$
    \text{tf}(g, u) = f_{g, u}
$$
</center>
where $f_{g, i}$ is the number of times genre $g$ appear for movies watched by user $u$.

Inverse document frequency is defined as follows:
<center>
$$
    \text{idf}(g) = \log \frac{N}{n_g}
$$
</center>
where $N$ is the number of users and $n_g$ is the number of users with $g$ in their genres list.

Finally, tf-idf is defined as follows:
<center>
$$
    \text{tfidf}(g, u) = \text{tf}(g, u) \cdot \text{idf}(g)
$$
</center>

In our case we will measure how often a given genre appears for movies watched by a given user vs how often it appears for all users. To obtain a movie score we will take the average of its genres' scores for this user.

**Task 5.** Implement the following method for calculating a TF-IDF scores in a form of a dict (use defaultdict):

`{(1, 'action'): 0.45306430692185395, (1, 'adventure'): 0.39370003643934415, (1, 'animation'): 0.20886242957049514, ...}`

without using TfidfVectorizer (you can use loops).

Evaluate the TFIDFRecommender with it using leave-one-out procedure for implicit feedback, print HR@1, HR@3, HR@5, HR@10, NDCG@1, NDCG@3, NDCG@5, NDCG@10.

In [195]:
def calculate_tf_idf_scores(interactions_df):
    interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.split("|")
    interactions_df = interactions_df.explode('genres')
    interactions_df['value'] = 1
    users = interactions_df['user_id'].values
    users = np.unique(users).tolist()
    no_users = len(users)
    genres = interactions_df['genres'].values
    genres = np.unique(genres).tolist()
    interactions_df = interactions_df.pivot_table(index='user_id', columns='genres', values='value', aggfunc='count').fillna(0)
    interactions_df = interactions_df.rename_axis(None, axis=1)
    users_dict = interactions_df.to_dict('index')
    genres_idf = defaultdict()
    for genre in genres:
        ng = np.count_nonzero(interactions_df[genre])
        genres_idf[genre] = np.log(no_users/ng)
    tfidf_scores = defaultdict(lambda:0.0)
    for user in users:
        for genre in genres:
            tfidf_scores[user, genre] = users_dict[user][genre] * genres_idf[genre]
#     display(tfidf_scores)
    return tfidf_scores
# calculate_tf_idf_scores(interactions_df)

In [196]:
# Test the method
interactions_df = pd.merge(ml_ratings_df, ml_movies_df, on='item_id')
interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.replace("-", "_", regex=False)
interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.replace(" ", "_", regex=False)
interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.replace("(", "", regex=False)
interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.replace(")", "", regex=False)
interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.lower()
# display(interactions_df)
tfidf_scores = calculate_tf_idf_scores(interactions_df)
display(tfidf_scores)
print(round(tfidf_scores[(1, "action")], 3))
print(round(tfidf_scores[(55, "comedy")], 3))

defaultdict(<function __main__.calculate_tf_idf_scores.<locals>.<lambda>()>,
            {(1, 'action'): 2.198046500486951,
             (1, 'adventure'): 2.6013213256521714,
             (1, 'animation'): 2.628413572457773,
             (1, 'children'): 3.1107481541030797,
             (1, 'comedy'): 1.791840171673406,
             (1, 'crime'): 2.3086654110482208,
             (1, 'documentary'): 0.0,
             (1, 'drama'): 0.6840579435170525,
             (1, 'fantasy'): 1.6501390107578158,
             (1, 'film_noir'): 0.0,
             (1, 'horror'): 0.0,
             (1, 'imax'): 0.0,
             (1, 'musical'): 0.9297589489250216,
             (1, 'mystery'): 0.6473875634104785,
             (1, 'no_genres_listed'): 0.0,
             (1, 'romance'): 1.5340801351916244,
             (1, 'sci_fi'): 1.2729788914477906,
             (1, 'thriller'): 1.7060590271175973,
             (1, 'war'): 2.121743921370525,
             (1, 'western'): 1.1786549963416462,
             (2, 'action'): 0.43960930009739024,
             (2, 'adventure'): 0.0,
             (2, 'animation'): 0.0,
             (2, 'children'): 0.0,
             (2, 'comedy'): 0.0,
             (2, 'crime'): 0.7695551370160736,
             (2, 'documentary'): 0.0,
             (2, 'drama'): 1.0260869152755787,
             (2, 'fantasy'): 0.0,
             (2, 'film_noir'): 0.0,
             (2, 'horror'): 0.0,
             (2, 'imax'): 0.0,
             (2, 'musical'): 0.0,
             (2, 'mystery'): 0.0,
             (2, 'no_genres_listed'): 0.0,
             (2, 'romance'): 0.3068160270383249,
             (2, 'sci_fi'): 0.31824472286194766,
             (2, 'thriller'): 0.8530295135587986,
             (2, 'war'): 0.0,
             (2, 'western'): 1.1786549963416462,
             (3, 'action'): 0.43960930009739024,
             (3, 'adventure'): 0.0,
             (3, 'animation'): 0.0,
             (3, 'children'): 0.0,
             (3, 'comedy'): 0.0,
             (3, 'crime'): 0.0,
             (3, 'documentary'): 0.0,
             (3, 'drama'): 0.0,
             (3, 'fantasy'): 0.550046336919272,
             (3, 'film_noir'): 0.0,
             (3, 'horror'): 1.0754707601064153,
             (3, 'imax'): 0.0,
             (3, 'musical'): 0.0,
             (3, 'mystery'): 0.0,
             (3, 'no_genres_listed'): 0.0,
             (3, 'romance'): 0.0,
             (3, 'sci_fi'): 0.6364894457238953,
             (3, 'thriller'): 0.28434317118626623,
             (3, 'war'): 0.0,
             (3, 'western'): 0.0,
             (4, 'action'): 0.21980465004869512,
             (4, 'adventure'): 0.32516516570652143,
             (4, 'animation'): 1.7522757149718484,
             (4, 'children'): 1.8664488924618476,
             (4, 'comedy'): 2.4637802360509333,
             (4, 'crime'): 1.923887842540184,
             (4, 'documentary'): 0.0,
             (4, 'drama'): 2.565217288188947,
             (4, 'fantasy'): 1.100092673838544,
             (4, 'film_noir'): 3.061386243775428,
             (4, 'horror'): 0.0,
             (4, 'imax'): 0.8641616664392084,
             (4, 'musical'): 2.789276846775065,
             (4, 'mystery'): 0.0,
             (4, 'no_genres_listed'): 0.0,
             (4, 'romance'): 2.1477121892682742,
             (4, 'sci_fi'): 0.0,
             (4, 'thriller'): 0.5686863423725325,
             (4, 'war'): 1.0608719606852626,
             (4, 'western'): 1.1786549963416462,
             (5, 'action'): 0.0,
             (5, 'adventure'): 0.0,
             (5, 'animation'): 0.8761378574859242,
             (5, 'children'): 0.6221496308206159,
             (5, 'comedy'): 0.22398002145917575,
             (5, 'crime'): 0.3847775685080368,
             (5, 'documentary'): 0.0,
             (5, 'drama'): 0.5130434576377894,
             (5, 'fantasy'): 0.550046336919272,
             (5, 'film_noir'): 0.0,
             (5, 'horror'): 0.0,
             (5, 'imax'): 0.8641616664392084,
             (5, 'musical'): 0.9297589489250216,
             (5, 'mystery'): 0.6473875634104785,
             (5, 'no_genres_listed'): 0.0,
             (5, 'romance'): 0.9204480811149747,
             (5, 'sci_fi'): 0.0,
             (5, 'thriller'): 0.28434317118626623,
             (5, 'war'): 1.0608719606852626,
             (5, 'western'): 1.1786549963416462,
             (6, 'action'): 1.758437200389561,
             (6, 'adventure'): 1.6258258285326073,
             (6, 'animation'): 1.7522757149718484,
             (6, 'children'): 3.1107481541030797,
             (6, 'comedy'): 4.479600429183515,
             (6, 'crime'): 1.5391102740321472,
             (6, 'documentary'): 0.0,
             (6, 'drama'): 2.394202802309684,
             (6, 'fantasy'): 2.75023168459636,
             (6, 'film_noir'): 0.0,
             (6, 'horror'): 3.226412280319246,
             (6, 'imax'): 0.8641616664392084,
             (6, 'musical'): 1.8595178978500433,
             (6, 'mystery'): 1.9421626902314357,
             (6, 'no_genres_listed'): 0.0,
             (6, 'romance'): 2.454528216306599,
             (6, 'sci_fi'): 1.5912236143097382,
             (6, 'thriller'): 2.27474536949013,
             (6, 'war'): 2.121743921370525,
             (6, 'western'): 1.1786549963416462,
             (7, 'action'): 1.0990232502434756,
             (7, 'adventure'): 0.9754954971195643,
             (7, 'animation'): 0.8761378574859242,
             (7, 'children'): 1.2442992616412318,
             (7, 'comedy'): 0.4479600429183515,
             (7, 'crime'): 1.5391102740321472,
             (7, 'documentary'): 0.0,
             (7, 'drama'): 1.197101401154842,
             (7, 'fantasy'): 1.100092673838544,
             (7, 'film_noir'): 0.0,
             (7, 'horror'): 1.0754707601064153,
             (7, 'imax'): 1.7283233328784169,
             (7, 'musical'): 0.9297589489250216,
             (7, 'mystery'): 0.6473875634104785,
             (7, 'no_genres_listed'): 0.0,
             (7, 'romance'): 0.9204480811149747,
             (7, 'sci_fi'): 1.2729788914477906,
             (7, 'thriller'): 1.4217158559313312,
             (7, 'war'): 2.121743921370525,
             (7, 'western'): 0.0,
             (8, 'action'): 0.21980465004869512,
             (8, 'adventure'): 0.32516516570652143,
             (8, 'animation'): 0.0,
             (8, 'children'): 0.6221496308206159,
             (8, 'comedy'): 0.22398002145917575,
             (8, 'crime'): 0.3847775685080368,
             (8, 'documentary'): 0.0,
             (8, 'drama'): 0.0,
             (8, 'fantasy'): 0.0,
             (8, 'film_noir'): 0.0,
             (8, 'horror'): 0.0,
             (8, 'imax'): 0.0,
             (8, 'musical'): 0.0,
             (8, 'mystery'): 0.6473875634104785,
             (8, 'no_genres_listed'): 0.0,
             (8, 'romance'): 0.0,
             (8, 'sci_fi'): 0.31824472286194766,
             (8, 'thriller'): 0.28434317118626623,
             (8, 'war'): 0.0,
             (8, 'western'): 0.0,
             (9, 'action'): 0.0,
             (9, 'adventure'): 0.0,
             (9, 'animation'): 0.0,
             (9, 'children'): 0.0,
             (9, 'comedy'): 0.22398002145917575,
             (9, 'crime'): 0.0,
             (9, 'documentary'): 0.0,
             (9, 'drama'): 0.34202897175852626,
             (9, 'fantasy'): 0.0,
             (9, 'film_noir'): 0.0,
             (9, 'horror'): 0.0,
             (9, 'imax'): 0.0,
             (9, 'musical'): 0.0,
             (9, 'mystery'): 0.0,
             (9, 'no_genres_listed'): 0.0,
             (9, 'romance'): 0.0,
             (9, 'sci_fi'): 0.0,
             (9, 'thriller'): 0.5686863423725325,
             (9, 'war'): 0.0,
             (9, 'western'): 0.0,
             (10, 'action'): 0.6594139501460854,
             (10, 'adventure'): 1.3006606628260857,
             (10, 'animation'): 0.0,
             (10, 'children'): 0.0,
             (10, 'comedy'): 1.3438801287550546,
             (10, 'crime'): 0.3847775685080368,
             (10, 'documentary'): 0.0,
             (10, 'drama'): 0.5130434576377894,
             (10, 'fantasy'): 0.550046336919272,
             (10, 'film_noir'): 0.0,
             (10, 'horror'): 0.0,
             (10, 'imax'): 2.5924849993176253,
             (10, 'musical'): 0.9297589489250216,
             (10, 'mystery'): 0.6473875634104785,
             (10, 'no_genres_listed'): 0.0,
             (10, 'romance'): 1.2272641081532996,
             (10, 'sci_fi'): 0.6364894457238953,
             (10, 'thriller'): 0.0,
             (10, 'war'): 0.0,
             (10, 'western'): 0.0,
             (11, 'action'): 0.8792186001947805,
             (11, 'adventure'): 1.3006606628260857,
             (11, 'animation'): 0.0,
             (11, 'children'): 0.0,
             (11, 'comedy'): 0.0,
             (11, 'crime'): 0.3847775685080368,
             (11, 'documentary'): 0.0,
             (11, 'drama'): 0.17101448587926313,
             (11, 'fantasy'): 0.0,
             (11, 'film_noir'): 0.0,
             (11, 'horror'): 0.0,
             (11, 'imax'): 0.0,
             (11, 'musical'): 0.0,
             (11, 'mystery'): 0.0,
             (11, 'no_genres_listed'): 0.0,
             (11, 'romance'): 0.3068160270383249,
             (11, 'sci_fi'): 0.6364894457238953,
             (11, 'thriller'): 0.8530295135587986,
             (11, 'war'): 0.0,
             (11, 'western'): 0.0,
             (12, 'action'): 0.0,
             (12, 'adventure'): 0.0,
             (12, 'animation'): 0.0,
             (12, 'children'): 0.0,
             (12, 'comedy'): 0.4479600429183515,
             (12, 'crime'): 0.0,
             (12, 'documentary'): 0.0,
             (12, 'drama'): 0.17101448587926313,
             (12, 'fantasy'): 0.550046336919272,
             (12, 'film_noir'): 0.0,
             (12, 'horror'): 0.0,
             (12, 'imax'): 0.0,
             (12, 'musical'): 0.0,
             (12, 'mystery'): 0.0,
             (12, 'no_genres_listed'): 0.0,
             (12, 'romance'): 0.9204480811149747,
             (12, 'sci_fi'): 0.0,
             (12, 'thriller'): 0.28434317118626623,
             (12, 'war'): 0.0,
             (12, 'western'): 0.0,
             (13, 'action'): 0.0,
             (13, 'adventure'): 0.0,
             (13, 'animation'): 0.0,
             (13, 'children'): 0.0,
             (13, 'comedy'): 0.22398002145917575,
             (13, 'crime'): 0.0,
             (13, 'documentary'): 0.0,
             (13, 'drama'): 0.17101448587926313,
             (13, 'fantasy'): 0.0,
             (13, 'film_noir'): 0.0,
             (13, 'horror'): 0.0,
             (13, 'imax'): 0.0,
             (13, 'musical'): 0.0,
             (13, 'mystery'): 0.0,
             (13, 'no_genres_listed'): 0.0,
             (13, 'romance'): 0.3068160270383249,
             (13, 'sci_fi'): 0.0,
             (13, 'thriller'): 0.0,
             (13, 'war'): 0.0,
             (13, 'western'): 0.0,
             (14, 'action'): 0.21980465004869512,
             (14, 'adventure'): 0.32516516570652143,
             (14, 'animation'): 0.0,
             (14, 'children'): 0.6221496308206159,
             (14, 'comedy'): 0.4479600429183515,
             (14, 'crime'): 0.0,
             (14, 'documentary'): 0.0,
             (14, 'drama'): 0.8550724293963157,
             (14, 'fantasy'): 0.0,
             (14, 'film_noir'): 0.0,
             (14, 'horror'): 0.0,
             (14, 'imax'): 0.0,
             (14, 'musical'): 0.9297589489250216,
             (14, 'mystery'): 0.0,
             (14, 'no_genres_listed'): 0.0,
             (14, 'romance'): 0.6136320540766498,
             (14, 'sci_fi'): 0.0,
             (14, 'thriller'): 0.28434317118626623,
             (14, 'war'): 1.0608719606852626,
             (14, 'western'): 1.1786549963416462,
             (15, 'action'): 1.3188279002921708,
             (15, 'adventure'): 0.9754954971195643,
             (15, 'animation'): 0.8761378574859242,
             (15, 'children'): 0.6221496308206159,
             (15, 'comedy'): 0.4479600429183515,
             (15, 'crime'): 0.3847775685080368,
             (15, 'documentary'): 0.0,
             (15, 'drama'): 1.197101401154842,
             (15, 'fantasy'): 0.550046336919272,
             (15, 'film_noir'): 0.0,
             (15, 'horror'): 1.0754707601064153,
             (15, 'imax'): 0.0,
             (15, 'musical'): 0.0,
             (15, 'mystery'): 0.0,
             (15, 'no_genres_listed'): 0.0,
             (15, 'romance'): 0.0,
             (15, 'sci_fi'): 1.909468337171686,
             (15, 'thriller'): 1.7060590271175973,
             (15, 'war'): 0.0,
             (15, 'western'): 1.1786549963416462,
             (16, 'action'): 0.21980465004869512,
             (16, 'adventure'): 0.6503303314130429,
             (16, 'animation'): 1.7522757149718484,
             (16, 'children'): 0.6221496308206159,
             (16, 'comedy'): 0.6719400643775273,
             (16, 'crime'): 1.1543327055241104,
             (16, 'documentary'): 0.0,
             (16, 'drama'): 0.8550724293963157,
             (16, 'fantasy'): 0.550046336919272,
             (16, 'film_noir'): 0.0,
             (16, 'horror'): 0.0,
             (16, 'imax'): 0.0,
             (16, 'musical'): 0.0,
             (16, 'mystery'): 1.294775126820957,
             (16, 'no_genres_listed'): 0.0,
             (16, 'romance'): 0.3068160270383249,
             (16, 'sci_fi'): 0.31824472286194766,
             (16, 'thriller'): 0.5686863423725325,
             (16, 'war'): 1.0608719606852626,
             (16, 'western'): 0.0,
             (17, 'action'): 0.6594139501460854,
             (17, 'adventure'): 0.6503303314130429,
             (17, 'animation'): 0.0,
             (17, 'children'): 0.0,
             (17, 'comedy'): 0.4479600429183515,
             (17, 'crime'): 1.923887842540184,
             (17, 'documentary'): 0.0,
             (17, 'drama'): 0.34202897175852626,
             (17, 'fantasy'): 0.0,
             (17, 'film_noir'): 0.0,
             (17, 'horror'): 0.0,
             (17, 'imax'): 0.8641616664392084,
             (17, 'musical'): 0.0,
             (17, 'mystery'): 1.294775126820957,
             (17, 'no_genres_listed'): 0.0,
             (17, 'romance'): 0.0,
             (17, 'sci_fi'): 0.6364894457238953,
             (17, 'thriller'): 0.8530295135587986,
             (17, 'war'): 1.0608719606852626,
             (17, 'western'): 0.0,
             (18, 'action'): 4.835702301071293,
             (18, 'adventure'): 3.901981988478257,
             (18, 'animation'): 3.504551429943697,
             (18, 'children'): 3.1107481541030797,
             (18, 'comedy'): 3.583680343346812,
             (18, 'crime'): 7.695551370160736,
             (18, 'documentary'): 2.586928264180312,
             (18, 'drama'): 5.130434576377894,
             (18, 'fantasy'): 2.75023168459636,
             (18, 'film_noir'): 0.0,
             (18, 'horror'): 0.0,
             (18, 'imax'): 4.320808332196043,
             (18, 'musical'): 1.8595178978500433,
             (18, 'mystery'): 4.53171294387335,
             (18, 'no_genres_listed'): 0.0,
             (18, 'romance'): 1.5340801351916244,
             (18, 'sci_fi'): 3.500691951481424,
             (18, 'thriller'): 4.265147567793994,
             (18, 'war'): 0.0,
             (18, 'western'): 1.1786549963416462,
             (19, 'action'): 1.9782418504382562,
             (19, 'adventure'): 2.6013213256521714,
             (19, 'animation'): 5.256827144915546,
             (19, 'children'): 7.465795569847391,
             (19, 'comedy'): 10.303080987122085,
             (19, 'crime'): 3.462998116572331,
             (19, 'documentary'): 0.0,
             (19, 'drama'): 2.2231883164304205,
             (19, 'fantasy'): 6.050509706111992,
             (19, 'film_noir'): 3.061386243775428,
             (19, 'horror'): 13.9811198813834,
             (19, 'imax'): 0.0,
             (19, 'musical'): 4.648794744625108,
             (19, 'mystery'): 1.9421626902314357,
             (19, 'no_genres_listed'): 0.0,
             (19, 'romance'): 5.215872459651523,
             (19, 'sci_fi'): 2.2277130600336337,
             (19, 'thriller'): 3.980804396607727,
             (19, 'war'): 0.0,
             (19, 'western'): 1.1786549963416462,
             (20, 'action'): 0.6594139501460854,
             (20, 'adventure'): 1.9509909942391286,
             (20, 'animation'): 6.13296500240147,
             (20, 'children'): 11.198693354771086,
             (20, 'comedy'): 3.3597003218876362,
             (20, 'crime'): 0.0,
             (20, 'documentary'): 0.0,
             (20, 'drama'): 1.0260869152755787,
             (20, 'fantasy'): 3.3002780215156315,
             (20, 'film_noir'): 0.0,
             (20, 'horror'): 1.0754707601064153,
             (20, 'imax'): 1.7283233328784169,
             (20, 'musical'): 6.508312642475151,
             (20, 'mystery'): 0.6473875634104785,
             (20, 'no_genres_listed'): 0.0,
             (20, 'romance'): 1.5340801351916244,
             (20, 'sci_fi'): 0.954734168585843,
             (20, 'thriller'): 0.8530295135587986,
             (20, 'war'): 0.0,
             (20, 'western'): 0.0,
             (21, 'action'): 7.033748801558244,
             (21, 'adventure'): 6.503303314130429,
             (21, 'animation'): 1.7522757149718484,
             (21, 'children'): 3.7328977849236953,
             (21, 'comedy'): 4.255620407724339,
             (21, 'crime'): 4.6173308220964415,
             (21, 'documentary'): 0.0,
             (21, 'drama'): 2.0521738305511574,
             (21, 'fantasy'): 4.400370695354176,
             (21, 'film_noir'): 0.0,
             (21, 'horror'): 3.226412280319246,
             (21, 'imax'): 5.184969998635251,
             (21, 'musical'): 0.0,
             (21, 'mystery'): 0.6473875634104785,
             (21, 'no_genres_listed'): 0.0,
             (21, 'romance'): 2.1477121892682742,
             (21, 'sci_fi'): 4.137181397205319,
             (21, 'thriller'): 4.8338339101665255,
             (21, 'war'): 0.0,
             (21, 'western'): 1.1786549963416462,
             (22, 'action'): 0.8792186001947805,
             (22, 'adventure'): 0.6503303314130429,
             (22, 'animation'): 1.7522757149718484,
             (22, 'children'): 1.2442992616412318,
             (22, 'comedy'): 0.6719400643775273,
             (22, 'crime'): 1.5391102740321472,
             (22, 'documentary'): 2.586928264180312,
             (22, 'drama'): 1.539130372913368,
             (22, 'fantasy'): 0.0,
             (22, 'film_noir'): 0.0,
             (22, 'horror'): 1.0754707601064153,
             (22, 'imax'): 0.8641616664392084,
             (22, 'musical'): 0.0,
             (22, 'mystery'): 0.6473875634104785,
             (22, 'no_genres_listed'): 0.0,
             (22, 'romance'): 0.3068160270383249,
             (22, 'sci_fi'): 0.954734168585843,
             (22, 'thriller'): 0.8530295135587986,
             (22, 'war'): 0.0,
             (22, 'western'): 0.0,
             (23, 'action'): 0.8792186001947805,
             (23, 'adventure'): 0.6503303314130429,
             (23, 'animation'): 0.8761378574859242,
             (23, 'children'): 0.0,
             (23, 'comedy'): 0.22398002145917575,
             (23, 'crime'): 1.1543327055241104,
             (23, 'documentary'): 2.586928264180312,
             (23, 'drama'): 1.368115887034105,
             (23, 'fantasy'): 1.100092673838544,
             (23, 'film_noir'): 0.0,
             (23, 'horror'): 0.0,
             (23, 'imax'): 0.8641616664392084,
             (23, 'musical'): 0.0,
             (23, 'mystery'): 0.6473875634104785,
             (23, 'no_genres_listed'): 0.0,
             (23, 'romance'): 0.0,
             (23, 'sci_fi'): 0.31824472286194766,
             (23, 'thriller'): 0.5686863423725325,
             (23, 'war'): 2.121743921370525,
             (23, 'western'): 0.0,

2.198
0.224

In [197]:
class TFIDFRecommender(Recommender):
    """
    Recommender based on the TF-IDF method.
    """
    
    def __init__(self):
        """
        Initialize base recommender params and variables.
        """
        self.tfidf_scores = None
    
    def fit(self, interactions_df, users_df, items_df):
        """
        Training of the recommender.
        
        :param pd.DataFrame interactions_df: DataFrame with recorded interactions between users and items 
            defined by user_id, item_id and features of the interaction.
        :param pd.DataFrame users_df: DataFrame with users and their features defined by user_id and the user feature columns.
        :param pd.DataFrame items_df: DataFrame with items and their features defined by item_id and the item feature columns.
        """
        
        self.tfidf_scores = defaultdict(lambda: 0.0)

        # Prepare the corpus for tfidf calculation
        
        interactions_df = pd.merge(interactions_df, items_df, on='item_id')
        interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.replace("-", "_", regex=False)
        interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.replace(" ", "_", regex=False)
        interactions_df.loc[:, 'genres'] = interactions_df['genres'].str.lower()
                
        self.tfidf_scores = calculate_tf_idf_scores(interactions_df)
    
    def recommend(self, users_df, items_df, n_recommendations=1):
        """
        Serving of recommendations. Scores items in items_df for each user in users_df and returns 
        top n_recommendations for each user.
        
        :param pd.DataFrame users_df: DataFrame with users and their features for which recommendations should be generated.
        :param pd.DataFrame items_df: DataFrame with items and their features which should be scored.
        :param int n_recommendations: Number of recommendations to be returned for each user.
        :return: DataFrame with user_id, item_id and score as columns returning n_recommendations top recommendations 
            for each user.
        :rtype: pd.DataFrame
        """
        
        recommendations = pd.DataFrame(columns=['user_id', 'item_id', 'score'])
        
        # Transform genres to a unified form used by the vectorizer
        
        items_df = items_df.copy()
        items_df.loc[:, 'genres'] = items_df['genres'].str.replace("-", "_", regex=False)
        items_df.loc[:, 'genres'] = items_df['genres'].str.replace(" ", "_", regex=False)
        items_df.loc[:, 'genres'] = items_df['genres'].str.lower()
        items_df.loc[:, 'genres'] = items_df['genres'].str.split("|")
                
        # Score items    
        
        for uix, user in users_df.iterrows():
            items = []
            for iix, item in items_df.iterrows():
                score = 0.0
                for genre in item['genres']:
                    score += self.tfidf_scores[(user['user_id'], genre)]
                score /= len(item['genres'])
                items.append((item['item_id'], score))
                
            items = sorted(items, key=lambda x: x[1], reverse=True)
            user_recommendations = pd.DataFrame({'user_id': user['user_id'],
                                                 'item_id': [item[0] for item in items][:n_recommendations],
                                                 'score': [item[1] for item in items][:n_recommendations]})

            recommendations = pd.concat([recommendations, user_recommendations])

        return recommendations

In [198]:
# Print movies watched by user 3, 5, 39

active_user_movies = ml_df.loc[(ml_df['user_id'] == 3) | (ml_df['user_id'] == 5) | (ml_df['user_id'] == 39)]
print("Active users history")
display(active_user_movies)

Active users history

,user_id,item_id,rating,timestamp,title,genres
573,5,50,4.0,847434881,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
588,39,50,5.0,974788030,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
7762,39,1213,4.0,974789540,Goodfellas (1990),Crime|Drama
9403,39,1500,4.0,974789727,Grosse Pointe Blank (1997),Comedy|Crime|Romance
11108,39,2078,3.0,974788976,"Jungle Book, The (1967)",Animation|Children|Comedy|Musical
13425,39,2692,5.0,974789111,Run Lola Run (Lola rennt) (1998),Action|Crime
14203,39,2947,3.0,974789327,Goldfinger (1964),Action|Adventure|Thriller
18810,3,5181,5.0,1306463718,Hangar 18 (1980),Action|Sci-Fi|Thriller
18827,3,7991,5.0,1306463684,Death Race 2000 (1975),Action|Sci-Fi
18832,3,70946,5.0,1306463815,Troll 2 (1990),Fantasy|Horror
19321,5,232,4.0,847435292,Eat Drink Man Woman (Yin shi nan nu) (1994),Comedy|Drama|Romance
19722,5,475,5.0,847435311,In the Name of the Father (1993),Drama
20123,5,595,5.0,847434832,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
25824,5,266,1.0,847435311,Legends of the Fall (1994),Drama|Romance|War|Western
45366,39,858,4.0,974789111,"Godfather, The (1972)",Crime|Drama
49571,39,3000,5.0,974789174,Princess Mononoke (Mononoke-hime) (1997),Action|Adventure|Animation|Drama|Fantasy
60382,39,1862,2.0,974787293,Species II (1998),Horror|Sci-Fi
63222,39,3213,5.0,974788976,Batman: Mask of the Phantasm (1993),Animation|Children

In [199]:
# Quick test of the recommender

tfidf_recommender = TFIDFRecommender()
tfidf_recommender.fit(ml_ratings_df, None, ml_movies_df)
recommendations = tfidf_recommender.recommend(pd.DataFrame([[3], [5], [39]], columns=['user_id']), ml_movies_df, 10)

recommendations = pd.merge(recommendations, ml_movies_df, on='item_id', how='left')
print("Recommendations")
display(recommendations)

Recommendations

,user_id,item_id,score,title,genres
0,3,1322,1.075471,Amityville 1992: It's About Time (1992),Horror
1,3,1976,1.075471,Friday the 13th Part 3: 3D (1982),Horror
2,3,1980,1.075471,Friday the 13th Part VII: The New Blood (1988),Horror
3,3,2517,1.075471,Christine (1983),Horror
4,3,2878,1.075471,Hell Night (1981),Horror
5,3,3017,1.075471,Creepshow 2 (1987),Horror
6,3,3021,1.075471,"Funhouse, The (1981)",Horror
7,3,3652,1.075471,"City of the Living Dead (a.k.a. Gates of Hell,...",Horror
8,3,3839,1.075471,Phantasm IV: Oblivion (1998),Horror
9,3,3908,1.075471,Urban Legends: Final Cut (2000),Horror
10,5,2921,1.178655,High Plains Drifter (1973),Western
11,5,5826,1.049552,Rio Grande (1950),Romance|Western
12,5,6348,0.929759,Breakin' 2: Electric Boogaloo (1984),Musical
13,5,6390,0.929759,Silk Stockings (1957),Musical
14,5,6192,0.920448,Open Hearts (Elsker dig for evigt) (2002),Romance
15,5,139747,0.920448,Before We Go (2014),Romance
16,5,266,0.918255,Legends of the Fall (1994),Drama|Romance|War|Western
17,5,66335,0.876138,Afro Samurai: Resurrection (2009),Animation
18,5,160848,0.876138,The Red Turtle (2016),Animation
19,5,4031,0.870716,All the Pretty Horses (2000),Drama|Romance|Western
20,39,66335,2.628414,Afro Samurai: Resurrection (2009),Animation
21,39,160848,2.628414,The Red Turtle (2016),Animation
22,39,313,1.936356,"Swan Princess, The (1994)",Animation|Children
23,39,3213,1.936356,Batman: Mask of the Phantasm (1993),Animation|Children
24,39,3799,1.936356,Pok√©mon the Movie 2000 (2000),Animation|Children
25,39,42191,1.936356,Luxo Jr. (1986),Animation|Children
26,39,85316,1.936356,Winnie the Pooh and Tigger Too (1974),Animation|Children
27,39,95004,1.643914,Superman/Doomsday (2007),Action|Animation
28,39,104141,1.614004,Batman: Mystery of the Batwoman (2003),Action|Animation|Children|Crime
29,39,1489,1.600824,Cats Don't Dance (1997),Animation|Children|Musical

### Train-test split test

In [200]:
tfidf_recommender = TFIDFRecommender()

t0 = time.time()

results = [['TFIDFRecommender'] + list(evaluate_train_test_split_implicit(
    tfidf_recommender, ml_ratings_df.loc[:, ['user_id', 'item_id']], ml_movies_df))]

results = pd.DataFrame(results, 
                       columns=['Recommender', 'HR@1', 'HR@3', 'HR@5', 'HR@10', 'NDCG@1', 'NDCG@3', 'NDCG@5', 'NDCG@10'])

display(results)

print('Total evaluation time: {}'.format(time.time() - t0))

,Recommender,HR@1,HR@3,HR@5,HR@10,NDCG@1,NDCG@3,NDCG@5,NDCG@10
0,TFIDFRecommender,0.013423,0.029083,0.042506,0.082774,0.013423,0.022717,0.028204,0.041327

Total evaluation time: 48.94744253158569

### Leave-one-out test

In [201]:
tfidf_recommender = TFIDFRecommender()

t0 = time.time()

results = [['TFIDFRecommender'] + list(evaluate_leave_one_out_implicit(
    tfidf_recommender, ml_ratings_df.loc[:, ['user_id', 'item_id']], ml_movies_df, max_evals=300, seed=6789))]

results = pd.DataFrame(results, 
                       columns=['Recommender', 'HR@1', 'HR@3', 'HR@5', 'HR@10', 'NDCG@1', 'NDCG@3', 'NDCG@5', 'NDCG@10'])

display(results)

print('Total evaluation time: {}'.format(time.time() - t0))

,Recommender,HR@1,HR@3,HR@5,HR@10,NDCG@1,NDCG@3,NDCG@5,NDCG@10
0,TFIDFRecommender,0.0,0.006667,0.013333,0.026667,0.0,0.004206,0.007077,0.011674

Total evaluation time: 55.12540793418884

**Task 6\*.** Implement an SVRRecommender by replacing the LinearRegression model with the SVR model (`from sklearn.svm import SVR`). Use separate features for users and items, not the dot product.

Tune params of the SVR model to obtain as good results as you can. 

To do tuning properly:

- divide the set into training, validation and test sets (randomly divide the dataset in proportions 60%-20%-20%),
- train the model with different sets of tunable parameters on the training set, 
- choose the best tunable params based on results on the validation set, 
- provide the final evaluation metrics on the test set for the best model obtained during tuning.

Recommended method of tuning: use hyperopt. Install the package using the following command: `pip install hyperopt`
    
Print the RMSE, MAPE and TRE on the test set. Use seed 6789.

In [206]:
from sklearn.svm import SVR
from sklearn.preprocessing import MultiLabelBinarizer

    
class SVRRecommender(Recommender):
    """
    SVR recommender class.
    """

    def __init__(self, kernel='rbf', c=1.0, epsilon=0.1):
        """
        Initialize base recommender params and variables.
        """
        super().__init__()
        self.model = None
        self.mlb = None
        self.kernel = kernel
        self.c = c
        self.epsilon = epsilon
        self.mlb = None
        self.users_dict = None
        self.user_features = None
        self.uses_dot_product = True

    def fit(self, interactions_df, users_df, items_df):
        """
        Training of the recommender.

        :param pd.DataFrame interactions_df: DataFrame with recorded interactions between users and items
            defined by user_id, item_id and features of the interaction.
        :param pd.DataFrame users_df: DataFrame with users and their features defined by user_id
            and the user feature columns.
        :param pd.DataFrame items_df: DataFrame with items and their features defined by item_id
            and the item feature columns.
        """

        interactions_df = pd.merge(interactions_df, items_df, on='item_id')
        interactions_df = self._transform_genres(interactions_df)
#         display(interactions_df)
        # Prepare user features
        
        users_df = interactions_df[['user_id', 'genres']].copy()
        users_df = users_df.explode('genres')
        users_df['val'] = 1
        users_df = users_df.pivot_table(index='user_id', columns='genres', values='val', aggfunc='count')
        users_df = users_df / users_df.sum(axis=1).values.reshape(-1, 1)
        users_df = users_df.rename_axis(None, axis=1).fillna(0)
        users_df = users_df.add_prefix('user_')
#         display(users_df.head(10))
        
        self.users_dict = users_df.to_dict('index')
        
        self.user_features = users_df.columns.tolist()
        
        interactions_df = interactions_df.merge(users_df, on='user_id')
#         display(interactions_df.head(10))
                
        # Prepare item features
        
        # Transform genres into binary values
        
        self.mlb = MultiLabelBinarizer()
        interactions_df = interactions_df.join(
            pd.DataFrame(self.mlb.fit_transform(interactions_df.pop('genres')),
                         columns=self.mlb.classes_,
                         index=interactions_df.index))
        
        # Normalize the values so that each movie's genres sum up to 1
        
        interactions_df[self.mlb.classes_] = interactions_df[self.mlb.classes_] \
            / interactions_df[self.mlb.classes_].sum(axis=1).values.reshape(-1, 1)
        display(interactions_df)
#         display(interactions_df.loc[:, self.mlb.classes_].head(10))

        # Prepare input data and fit the model
    
        # Dot product for personalization
        if self.uses_dot_product:
            interactions_df[self.mlb.classes_] = interactions_df[self.mlb.classes_] \
                * interactions_df[self.user_features].values
    
#         display(interactions_df.head(10))
        
        if self.uses_dot_product:  # Personalized
            x = interactions_df.loc[:, self.mlb.classes_].values
        else:  # Non-personalized
            x = interactions_df.loc[:, list(self.mlb.classes_) + self.user_features].values
#         print("x:")
#         display(x)
#         print("y:")
        
        y = interactions_df['rating'].values
#         display(y)
        svr = SVR(kernel=self.kernel, C=self.c, gamma=0.1, epsilon=self.epsilon)
        self.model = svr.fit(x, y)

    def recommend(self, users_df, items_df, n_recommendations=1):
        """
        Serving of recommendations. Scores items in items_df for each user in users_df and returns
        top n_recommendations for each user.

        :param pd.DataFrame users_df: DataFrame with users and their features for which recommendations
            should be generated.
        :param pd.DataFrame items_df: DataFrame with items and their features which should be scored.
        :param int n_recommendations: Number of recommendations to be returned for each user.
        :return: DataFrame with user_id, item_id and score as columns returning n_recommendations top recommendations
            for each user.
        :rtype: pd.DataFrame
        """

        items_df = items_df.copy()
        items_df = self._transform_genres(items_df)
        
        items_df = items_df.join(
            pd.DataFrame(self.mlb.transform(items_df.pop('genres')),
                         columns=self.mlb.classes_,
                         index=items_df.index))
        
        items_df[self.mlb.classes_] = items_df[self.mlb.classes_] \
            / items_df[self.mlb.classes_].sum(axis=1).values.reshape(-1, 1)

        # Score the item
    
        recommendations = pd.DataFrame(columns=['user_id', 'item_id', 'score'])
        
        for ix, user in users_df.iterrows():
            if user['user_id'] in self.users_dict:
                user_df = pd.DataFrame.from_dict({user['user_id']: self.users_dict[user['user_id']]}, orient='index')
            else:
                user_df = pd.DataFrame.from_dict(
                    {user['user_id']: [1 / len(self.user_features)]*len(self.user_features)}, orient='index')
                user_df.columns = self.user_features
#             display(user_df)
#             display(items_df)
            input_df = items_df.copy()
            
            if self.uses_dot_product:
                input_df[self.mlb.classes_] = items_df[self.mlb.classes_] * user_df.values
#                 display(input_df)
                scores = self.model.predict(input_df.loc[:, self.mlb.classes_].values)
            else:
                input_df = input_df.merge(user_df, how='cross')
#                 display(input_df)
                scores = self.model.predict(input_df.loc[:, list(self.mlb.classes_) + self.user_features].values)
    
            chosen_pos = np.argsort(-scores)[:n_recommendations]
        
            user_recommendations = []
            for item_pos in chosen_pos:
                user_recommendations.append(
                    {
                        'user_id': user['user_id'],
                        'item_id': input_df.iloc[item_pos]['item_id'],
                        'score': scores[item_pos]
                    }
                )
                
            user_recommendations = pd.DataFrame(user_recommendations)

            recommendations = pd.concat([recommendations, user_recommendations])

        return recommendations

    @staticmethod
    def _transform_genres(df):
        """
        Transforms a string with genres into a list of cleaned genre names.

        :param pd.DataFrame df: A DataFrame with 'genres' column.
        """
        df.loc[:, 'genres'] = df['genres'].str.replace("-", "_", regex=False)
        df.loc[:, 'genres'] = df['genres'].str.replace(" ", "_", regex=False)
        df.loc[:, 'genres'] = df['genres'].str.replace("(", "", regex=False)
        df.loc[:, 'genres'] = df['genres'].str.replace(")", "", regex=False)
        df.loc[:, 'genres'] = df['genres'].str.lower()
        df.loc[:, 'genres'] = df['genres'].str.split("|")
        return df
    
    
# Quick test of the recommender

svr_recommender = SVRRecommender()
svr_recommender.fit(ml_ratings_df, None, ml_movies_df)
recommendations = svr_recommender.recommend(pd.DataFrame([[1], [2], [6]], columns=['user_id']), ml_movies_df, 10)

recommendations = pd.merge(recommendations, ml_movies_df, on='item_id', how='left')
print("Recommendations")
display(HTML(recommendations.to_html()))

,user_id,item_id,rating,timestamp,title,user_action,user_adventure,user_animation,user_children,user_comedy,user_crime,user_documentary,user_drama,user_fantasy,user_film_noir,user_horror,user_imax,user_musical,user_mystery,user_no_genres_listed,user_romance,user_sci_fi,user_thriller,user_war,user_western,action,adventure,animation,children,comedy,crime,documentary,drama,fantasy,film_noir,horror,imax,musical,mystery,no_genres_listed,romance,sci_fi,thriller,war,western
0,1,50,5.0,964982931,"Usual Suspects, The (1995)",0.149254,0.119403,0.044776,0.074627,0.119403,0.089552,0.0,0.059701,0.044776,0.0,0.0,0.0,0.014925,0.014925,0.0,0.074627,0.059701,0.089552,0.029851,0.014925,0.000000,0.000000,0.0,0.0,0.000000,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.000000,0.00,0.333333,0.0,0.0
1,1,423,3.0,964982363,Blown Away (1994),0.149254,0.119403,0.044776,0.074627,0.119403,0.089552,0.0,0.059701,0.044776,0.0,0.0,0.0,0.014925,0.014925,0.0,0.074627,0.059701,0.089552,0.029851,0.014925,0.500000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.00,0.500000,0.0,0.0
2,1,543,4.0,964981179,So I Married an Axe Murderer (1993),0.149254,0.119403,0.044776,0.074627,0.119403,0.089552,0.0,0.059701,0.044776,0.0,0.0,0.0,0.014925,0.014925,0.0,0.074627,0.059701,0.089552,0.029851,0.014925,0.000000,0.000000,0.0,0.0,0.333333,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.333333,0.00,0.333333,0.0,0.0
3,1,780,3.0,964984086,Independence Day (a.k.a. ID4) (1996),0.149254,0.119403,0.044776,0.074627,0.119403,0.089552,0.0,0.059701,0.044776,0.0,0.0,0.0,0.014925,0.014925,0.0,0.074627,0.059701,0.089552,0.029851,0.014925,0.250000,0.250000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.25,0.250000,0.0,0.0
4,1,940,5.0,964982176,"Adventures of Robin Hood, The (1938)",0.149254,0.119403,0.044776,0.074627,0.119403,0.089552,0.0,0.059701,0.044776,0.0,0.0,0.0,0.014925,0.014925,0.0,0.074627,0.059701,0.089552,0.029851,0.014925,0.333333,0.333333,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.333333,0.00,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9687,481,1465,4.0,884773704,Rosewood (1997),0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.500000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,0.0,0.0
9688,175,44613,5.0,1234189390,Take the Lead (2006),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.666667,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,0.0,0.0
9689,175,47382,5.0,1234189512,Step Up (2006),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.666667,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.500000,0.00,0.000000,0.0,0.0
9690,578,6751,2.5,1300990921,Cold Creek Manor (2003),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.500000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.250000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.00,0.500000,0.0,0.0
9691,578,56389,4.0,1300996756,My Blueberry Nights (2007),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.500000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.250000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.500000,0.00,0.000000,0.0,0.0

Recommendations

In [207]:
svr_recommender = SVRRecommender(kernel='rbf', c=100, epsilon=0.1)

results = [['SVRRecommender'] + list(evaluate_train_test_split_explicit(
    svr_recommender, ml_ratings_df.loc[:, ['user_id', 'item_id', 'rating']], ml_movies_df, seed=seed))]

results = pd.DataFrame(results, 
                       columns=['Recommender', 'RMSE', 'MRE', 'TRE'])

display(results)

,user_id,item_id,rating,title,user_action,user_adventure,user_animation,user_children,user_comedy,user_crime,user_documentary,user_drama,user_fantasy,user_film_noir,user_horror,user_imax,user_musical,user_mystery,user_no_genres_listed,user_romance,user_sci_fi,user_thriller,user_war,user_western,action,adventure,animation,children,comedy,crime,documentary,drama,fantasy,film_noir,horror,imax,musical,mystery,no_genres_listed,romance,sci_fi,thriller,war,western
0,288,2311,3.0,2010: The Year We Make Contact (1984),0.0625,0.095833,0.033333,0.083333,0.2,0.0375,0.0,0.141667,0.0625,0.0,0.033333,0.0125,0.0375,0.0125,0.0,0.050000,0.045833,0.05,0.020833,0.020833,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,1.00,0.00,0.0,0.0
1,288,40819,4.0,Walk the Line (2005),0.0625,0.095833,0.033333,0.083333,0.2,0.0375,0.0,0.141667,0.0625,0.0,0.033333,0.0125,0.0375,0.0125,0.0,0.050000,0.045833,0.05,0.020833,0.020833,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.333333,0.0,0.0,0.333333,0.00,0.00,0.0,0.0
2,288,780,1.0,Independence Day (a.k.a. ID4) (1996),0.0625,0.095833,0.033333,0.083333,0.2,0.0375,0.0,0.141667,0.0625,0.0,0.033333,0.0125,0.0375,0.0125,0.0,0.050000,0.045833,0.05,0.020833,0.020833,0.25,0.25,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.25,0.25,0.0,0.0
3,288,1021,3.0,Angels in the Outfield (1994),0.0625,0.095833,0.033333,0.083333,0.2,0.0375,0.0,0.141667,0.0625,0.0,0.033333,0.0125,0.0375,0.0125,0.0,0.050000,0.045833,0.05,0.020833,0.020833,0.00,0.00,0.0,0.5,0.5,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.00,0.00,0.0,0.0
4,288,39292,4.0,"Good Night, and Good Luck. (2005)",0.0625,0.095833,0.033333,0.083333,0.2,0.0375,0.0,0.141667,0.0625,0.0,0.033333,0.0125,0.0375,0.0125,0.0,0.050000,0.045833,0.05,0.020833,0.020833,0.00,0.00,0.0,0.0,0.0,0.5,0.0,0.500000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7748,3,70946,5.0,Troll 2 (1990),0.2000,0.000000,0.000000,0.000000,0.0,0.0000,0.0,0.000000,0.2000,0.0,0.200000,0.0000,0.0000,0.0000,0.0,0.000000,0.200000,0.20,0.000000,0.000000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.000000,0.5,0.0,0.5,0.0,0.000000,0.0,0.0,0.000000,0.00,0.00,0.0,0.0
7749,175,47382,5.0,Step Up (2006),0.0000,0.000000,0.000000,0.000000,0.0,0.0000,0.0,0.666667,0.0000,0.0,0.000000,0.0000,0.0000,0.0000,0.0,0.333333,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.500000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.500000,0.00,0.00,0.0,0.0
7750,175,44613,5.0,Take the Lead (2006),0.0000,0.000000,0.000000,0.000000,0.0,0.0000,0.0,0.666667,0.0000,0.0,0.000000,0.0000,0.0000,0.0000,0.0,0.333333,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.00,0.00,0.0,0.0
7751,516,4349,4.0,Catch-22 (1970),0.0000,0.000000,0.000000,0.000000,0.5,0.0000,0.0,0.000000,0.0000,0.0,0.000000,0.0000,0.0000,0.0000,0.0,0.000000,0.000000,0.00,0.500000,0.000000,0.00,0.00,0.0,0.0,0.5,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.00,0.00,0.5,0.0
7752,481,1465,4.0,Rosewood (1997),0.5000,0.000000,0.000000,0.000000,0.0,0.0000,0.0,0.500000,0.0000,0.0,0.000000,0.0000,0.0000,0.0000,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.50,0.00,0.0,0.0,0.0,0.0,0.0,0.500000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.00,0.00,0.0,0.0

      Recommender     RMSE       MRE       TRE
0  SVRRecommender  1.01319  0.355558  0.226275

In [22]:
from hyperopt import hp, fmin, tpe, Trials
import traceback

# Split into train_validation and test sets

shuffle = np.arange(len(ml_ratings_df))
rng.shuffle(shuffle)
shuffle = list(shuffle)

train_test_split = 0.8
split_index = int(len(ml_ratings_df) * train_test_split)

train_validation = ml_ratings_df.iloc[shuffle[:split_index]].loc[:, ['user_id', 'item_id', 'rating']]
test = ml_ratings_df.iloc[shuffle[split_index:]].loc[:, ['user_id', 'item_id', 'rating']]

# Tune

def loss(tuned_params):
    svr_recommender = SVRRecommender(kernel='rbf', c=tuned_params['C'], epsilon=tuned_params['epsilon'])
    rmse, mre, tre = evaluate_train_test_split_explicit(
        svr_recommender, train_validation, ml_movies_df, seed=seed)
    return rmse

# Define the search space for hyperopt
# Write your code here


succeded = False
n_tries = 3
t = 0
while not succeded and t < n_tries:
    try:
        trials = Trials()
        best_param_set = fmin(loss, space=space, algo=tpe.suggest, max_evals=100, show_progressbar=True, trials=trials)
        succeded = True
    except:
        t += 1
        traceback.print_exc()

# Best params

print("C = {}".format(best_param_set['C']))
print("epsilon = {}".format(best_param_set['epsilon']))
    
# Test

C = 0.8078294657404328
epsilon = 0.3898720771476633

svr_recommender = SVRRecommender(C=best_param_set['C'], epsilon=best_param_set['epsilon'])

results = [['SVRRecommender'] + list(evaluate_train_test_split_explicit(
    svr_recommender, {'train': train_validation, 'test': test}, ml_movies_df, seed=seed))]

results = pd.DataFrame(results, 
                       columns=['Recommender', 'RMSE', 'MRE', 'TRE'])

display(HTML(results.to_html()))

ModuleNotFoundError: No module named 'past'

**Task 7.** Gather the results for LinearRegressionRecommender, SVRRecommender, TFIDFRecommender, MostPopularRecommender, HighestRatedRecommender, RandomRecommender from the evaluate_train_test_split_implicit method and print them as a single DataFrame.

In [19]:
most_popular_recommender = MostPopularRecommender()
highest_rated_recommender = HighestRatedRecommender()
random_recommender = RandomRecommender()
lr_recommender = LinearRegressionRecommender()
svr_recommender = SVRRecommender()
tfidf_recommender = TFIDFRecommender()
recommenders = [lr_recommender, svr_recommender, tfidf_recommender, most_popular_recommender, highest_rated_recommender, random_recommender]

all_results = []

t0 = time.time()

for recommender in recommenders:
    results = [[type(recommender).__name__] + list(evaluate_train_test_split_implicit(
        recommender, ml_ratings_df, ml_movies_df))]

    results = pd.DataFrame(results, 
                           columns=['Recommender', 'HR@1', 'HR@3', 'HR@5', 'HR@10', 'NDCG@1', 'NDCG@3', 'NDCG@5', 'NDCG@10'])
    all_results.append(results)

#     display(results)
    
all_results = pd.concat(all_results).reset_index(drop=True)
print(all_results)

NameError: name 'TFIDFRecommender' is not defined